* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #6abfa5;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 40px;
    --header__with-search-height: calc(var(--header-height) - var(--navbar-height));
}

body {
    margin: 0;
}


/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.grid__column-2 {
    width: 16.6667%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-2-4 {
    width: 20%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-10 {
    width: 83.3334%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-3 {
    width: 24.9999999999%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-9 {
    width: 74.999999997%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}